@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: fit-content;
  background-color: #111;
  display: grid;
  grid-template: repeat(5, auto) / repeat(4, 1fr);
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 2rem;
}

button {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  scale: 1.1;
  box-shadow: inset 0 0 0 1px #ffffff4a;
  opacity: 0.7;
}

.orange {
  background-color: rgb(255, 132, 0);
}

.gray {
  background-color: gray;
  color: #111;
}

.output {
  grid-column: span 4;
  color: #fff;
  font-size: 4rem;
  text-align: right;
  padding: 1rem;
  padding-bottom: 0 !important;
  height: 11rem;
  width: 22rem;
  overflow-x: scroll;
  justify-self: center;
  align-content: flex-start;
}

.output::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
}

.output::-webkit-scrollbar-thumb {
  background-color: #333;
  cursor: grabbing;
  border-radius: 2rem;
}

.previous {
  font-size: 1.6rem;
  color: #999;
}

.span {
  grid-column: span 2;
  border-radius: 10rem;
}
